The get_weekly_sales function computes weekly sales data based on the transaction and item information.

It first merges the transaction data (trans) with the item data (item) on the item_code column, selecting relevant columns such as week, item_code, outlet_code, item_category, item_department, and total_sales. After sorting the merged data by week, it groups the data by outlet_code, item_department, and week, aggregating the total_sales values to calculate the total_sales_qty for each combination of these features. The function then returns a DataFrame with the total sales quantities per week, department, and outlet, dropping any rows with missing values. 

This provides insights into the weekly sales distribution across different outlets and departments.

In [1]:
%run ./run_script.ipynb

conf = get_conf()

trans = get_datasources(conf)["trans_info"]
item = get_datasources(conf)["item_info"]
stores = get_datasources(conf)["outlets_info"]

trans = pre_process_transaction_info(trans)
item = pre_process_item_info(item)
store = pre_process_stores_info(stores)

In [2]:
def get_weekly_sales(item, trans):
    
    """
    Identifying weekly sales based on week, department and outlet
    
    Args:
        item: Pandas DataFrame
            item data
        trans: Pandas DataFrame
            transcation data
    
    Returns:
        weekly_trans: Pandas DataFrame
            contains weekly sales on week, department and outlet granularity
    """
    
    trans_weekly = trans.merge(item, on='item_code', how='left')[["week", "item_code", "outlet_code",
                                                              "item_category", "item_department",
                                                              "total_sales"]].sort_values(by="week")
    
    weekly_trans = trans_weekly.groupby(["outlet_code","item_department", "week"]).agg(
        total_sales_qty=pd.NamedAgg(column="total_sales", aggfunc="sum")).reset_index().dropna()

    return weekly_trans

In [3]:
weekly_trans = get_weekly_sales(item, trans)
weekly_trans

    outlet_code item_department       week  total_sales_qty
0             A       Beverages 2022-01-17              598
1             A       Beverages 2022-01-24             1342
2             A       Beverages 2022-01-31             1744
3             A       Beverages 2022-02-07             1098
4             A       Beverages 2022-02-14             1574
..          ...             ...        ...              ...
574           E         Grocery 2022-09-19              604
575           E         Grocery 2022-09-26              669
576           E         Grocery 2022-10-03              691
577           E         Grocery 2022-10-10              737
578           E         Grocery 2022-10-17              200

[579 rows x 4 columns]