The get_time_related_features function generates a set of time-based features from the "week" column in the dataset, providing valuable insights into seasonal and periodic sales patterns. 

It extracts the month, week of the month, week of the year, and quarter of the year from the weekly sales data. These features help in analyzing sales trends over time, enabling better understanding of monthly, weekly, and quarterly variations in sales. The function returns a DataFrame that includes these time-related features along with the outlet and department identifiers, aiding in more detailed time-based sales analysis and forecasting.

In [1]:
%run ./run_script.ipynb

conf = get_conf()

trans = get_datasources(conf)["trans_info"]
item = get_datasources(conf)["item_info"]
stores = get_datasources(conf)["outlets_info"]

trans = pre_process_transaction_info(trans)
item = pre_process_item_info(item)
store = pre_process_stores_info(stores)

trans_weekly= get_weekly_sales(item, trans)
primary_keys =  create_primary_keys(trans_weekly)
weekly_sales = identify_weekly_sales(trans_weekly, primary_keys)
target_variable = create_target_variable(weekly_sales)

In [2]:
def get_time_related_features(target_variable):
    
    """
    Generating time related features 
    
    Args:
        target_variable: Pandas DataFrame
            Target Variable
    
    Returns:
        time_related_features: Pandas DataFrame
            Time related features
    """
    
    time_related_features = target_variable.copy()
    time_related_features['month'] = time_related_features['week'].dt.month.astype(int)
    time_related_features['week_month'] = time_related_features['week'].apply(lambda d: (d.day-1) // 7 + 1).astype(int)
    time_related_features['week_year'] = time_related_features['week'].dt.isocalendar().week.astype(int)
    time_related_features['quarter_year'] = time_related_features['week'].dt.quarter.astype(int)
    time_related_features = time_related_features[['week', 'outlet_code', 'item_department', 'month',
                                                   'week_month', 'week_year', 'quarter_year']]
    
    return time_related_features

In [3]:
time_related_features = get_time_related_features(target_variable)
time_related_features

,week,outlet_code,item_department,month,week_month,week_year,quarter_year
0,2022-01-17,A,Beverages,1,3,3,1
1,2022-01-24,A,Beverages,1,4,4,1
2,2022-01-31,A,Beverages,1,5,5,1
3,2022-02-07,A,Beverages,2,1,6,1
4,2022-02-14,A,Beverages,2,2,7,1
...,...,...,...,...,...,...,...
595,2022-09-19,E,Grocery,9,3,38,3
596,2022-09-26,E,Grocery,9,4,39,3
597,2022-10-03,E,Grocery,10,1,40,4
598,2022-10-10,E,Grocery,10,2,41,4
599,2022-10-17,E,Grocery,10,3,42,4